
.exercise-page {
  padding: 20px;
}

.exercise-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.exercise-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.exercise-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.add-exercise-form {
  margin-top: 20px;
}

.add-exercise-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.add-exercise-form input[type="text"],
.add-exercise-form input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.add-exercise-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-exercise-form button:hover {
  background-color: #0056b3;
}

/* Dark theme styles */
.dark .exercise-page {
  background-color: #1f2937; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.dark .exercise-item {
  border: 2px solid #ffffff; /* White border */
}

.dark .exercise-image {
  border: 2px solid #ffffff; /* White border for images */
}

.dark .exercise-details h3 {
  color: #ffffff; /* White heading text color */
}

.dark .add-exercise-form label {
  color: #ffffff; /* White label text color */
}

.dark .add-exercise-form input[type="text"],
.dark .add-exercise-form input[type="file"] {
  background-color: #555; /* Dark background color for inputs */
  color: #fff; /* White text color for inputs */
  border: 1px solid #777; /* Dark border color for inputs */
}

.dark .add-exercise-form button {
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color for button */
}
